<link rel="stylesheet" href="assets/css/admin.css">

<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
        <div class="media d-flex align-items-center"><img src="assets/img/avatar.png" alt="..." width="65"
                class="mr-3 rounded-circle img-thumbnail shadow-sm">
            <div class="media-body">
                <h4 class="m-0">&nbsp;ADMIN</h4>

            </div>
        </div>
    </div>

    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>


    <ul class="nav flex-column bg-white mb-0">
        <li class="nav-item">
            <a href="#!/admin" class="nav-link text-dark font-italic">
                <i class="bi bi-gear-fill"></i>
                Admin Settings
            </a>
        </li>

        <li class="nav-item">
            <a href="#!/admin-custs" class="nav-link text-dark font-italic ">
                <i class="bi bi-person-fill"></i>
                Customers
            </a>
        </li>
        <li class="nav-item">
            <a href="#!/admin-products" class="nav-link text-dark font-italic bg-light">
                <i class='bx bxs-baguette'></i>
                Products
            </a>
        </li>
        <li class="nav-item">
            <a href="#!/admin-ctgs" class="nav-link text-dark font-italic">
                <i class="bi bi-list-columns-reverse"></i>
                Categories
            </a>
        </li>
        <li class="nav-item">
            <a href="#!/admin-orders" class="nav-link text-dark font-italic">
                <i class="bi bi-card-checklist"></i>
                Orders
            </a>
        </li>
        <li class="nav-item">
            <a href="#!/admin-feedbacks" class="nav-link text-dark font-italic ">
                <i class="bi bi-layout-text-sidebar-reverse"></i>
                Feedbacks
            </a>
        </li>
        <li class="nav-item">
            <a href="#!/admin-contacts" class="nav-link text-dark font-italic">
                <i class="bi bi-envelope-fill"></i>
                Contacts 
            </a>
        </li>
    </ul>


</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4"><i
            class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold"> Menu</small></button>
    <section class="history">
        <h3>Products Management &nbsp; <button type="button" class="btn btn-success" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Insert Product <i class="bi bi-clipboard-plus"></i>
            </button></h3>
        <!-- Button trigger modal -->


        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Insert Product</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>

                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" ng-model="newprd.name">
                            </div>
                            <div class="form-group">
                                <label>Category ID</label>
                                <input type="number" class="form-control" ng-model="newprd.ctgid">
                            </div>
                            <div class="form-group">
                                <label>Description</label>
                                <textarea class="form-control" rows="3" ng-model="newprd.desc"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Image Link</label>
                                <textarea class="form-control" rows="3" ng-model="newprd.img"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Price</label>
                                <input type="number" class="form-control" ng-model="newprd.price">
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                            ng-click="insertPrd(newprd)">INSERT +</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="success">
            <p>{{prdsuccess}}</p>
        </div>
        <div class="table-responsive">
            <table class="col-12 table table-hover table-striped">
                <thead>
                    <tr class="table-light">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Image link</th>
                        <th>Price</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products">
                        <td>{{product.pid}}</td>
                        <td><textarea cols="15" ng-model="product.pname"></textarea></td>
                        <td><textarea cols="30" ng-model="product.pdesc"></textarea></td>
                        <td><textarea cols="20" ng-model="product.pimg"></textarea></td>
                        <td><input type="text" ng-model="product.pprice" style="width:50px ;"></td>
                        <td><button type="button" class="btn btn-primary" ng-click="updatePrd(product)"><i
                                    class="bi bi-pencil-square"></i></button></td>
                        <td><button type="button" class="btn btn-danger" ng-click="removePrd(product)"><i
                                    class="bi bi-trash"></i></button></td>
                    </tr>
                </tbody>

            </table>
        </div>


    </section>
    <!-- Content -->


</div>
<!-- End content -->

<script src="assets/js/admin.js"></script>