<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
    <div class="container d-flex align-items-center justify-content-between">

        <h1 class="logo"><a href="#"><i class='bx bxs-cake' style="color: #ffce3a;"></i>Bakerz Bite</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About Us</a></li>
                <li><a class="nav-link scrollto " href="#gallery">Gallery</a></li>


                <li><a class="nav-link scrollto " href="#!/products"><i class='bx bx-baguette'
                            style="font-size: 16px;"></i> Products</a></li>

                <li class="dropdown"><a href="#!/customer"><span> <i class='bx bxs-user' style="font-size: 16px;"></i>
                            {{customer}} </span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="#!/login"> {{customer1}} </a></li>
                        <li><a href="#!/signup"> {{customer2}} </a></li>
                        <li><a href="#!/cart"> {{customer3}} </a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="#!/cart"> <i class='bx bx-cart' style="font-size: 20px;"></i>
                        Cart &nbsp;<div class="cart-number text-center">{{cartnumber}}</div> </a></li>
                <li><a class="nav-link scrollto" href="#faq">FAQ</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contact Us</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container position-relative">
        <h1>Welcome to <i class='bx bxs-cake' style="color: #ffce3a;"></i>Bakerz Bite</h1>
        <h2>We are happy to have you! Get ready for delicious cakes, cookies, breads, recipes, tips and baking
            inspirations.</h2>
        <a href="#!/products" class="btn-get-started scrollto">Place an Order</a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Intro Section ======= -->
    <section id="intro" class="intro section-bg">
        <div class="container">
            <div class="row">
                <div class=" d-flex align-items-center justify-content-center">
                    <h1>An AngularJS Project By C211L Group1 AptechVN</h1>
                </div>
            </div>
        </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 pt-4 pt-lg-0">
                    <h3 style="text-align: center;"> About <i class='bx bxs-cake' style="color: #ffce3a;"></i>Bakerz
                        Bite</h3>
                    <p>
                        Since its launch, “Bakerz Bite” has developed into a reputable bakery & café, specializing in
                        baked goods, passionately made from the finest ingredients. <br>
                        Bakerz Bite offers a wide range of baked goods made fresh in-store every day. <br>
                        The bakery chain offers more than 300 different kinds of baked goods, including artisan
                        pastries, gourmet cakes and desserts, and handcrafted beverages. <br>
                        The brand takes pride in sourcing and using carefully selected ingredients and promises to bring
                        freshness and quality to its customers. Bakerz Bite continues to expand and embrace innovation
                        in all markets. <br>
                        We believe and are dedicated in delivering premium quality products. So we only use real butter,
                        cream and unbleached flour. We treat our Customers as our family and will not use any ingredient
                        which we will not want to feed ours. <br> <br>
                        <img src="assets/img/about2.png" class="img-fluid" alt="">

                    </p>

                </div>
                <div class="col-lg-6">
                    <img src="assets/img/about.jpg" class="img-fluid" alt="">
                    <p></p>
                    <div class="row">
                        <div class="col-md-6">
                            <i class='bx bxs-baguette'></i>
                            <h4>High Quality Baked Goods</h4>
                            <p> "Happiness is baking cookies. Happiness is giving them away...and serving them, and
                                eating them, talking about them, reading and writing about them, thinking about them,
                                and sharing them with you." <br>

                                — Maida Heatter.</p>
                        </div>
                        <div class="col-md-6">
                            <i class='bx bxs-coffee'></i>
                            <h4>Handcrafted Beverages</h4>
                            <p>"We are cups, constantly and quietly being filled. Trick is knowing how to tip ourselves
                                over and let the beautiful stuff out." <br>

                                — Unknown.</p>
                        </div>
                    </div>
                </div>


            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
        <div class="container">

            <div class="row counters">

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="1125" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Satisfied Customers</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="301" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Highest Quality Products</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="12345" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Orders</p>
                </div>

                <div class="col-lg-3 col-6 text-center">
                    <span data-purecounter-start="0" data-purecounter-end="32" data-purecounter-duration="1"
                        class="purecounter"></span>
                    <p>Staff members</p>
                </div>

            </div>

        </div>
    </section><!-- End Counts Section -->

    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
        <div class="container">

            <div class="section-title">
                <h2>Gallery</h2>
                <p>“Cakes are special. Every birthday, every celebration ends with something sweet, a cake, and people
                    remember. It’s all about the memories.” — Buddy Valastro.</p>
            </div>

            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="gallery-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-cakes">Cakes</li>
                        <li data-filter=".filter-cupcakes">Cupcakes</li>
                        <li data-filter=".filter-pastries">Pastries</li>
                        <li data-filter=".filter-cookies">Cookies</li>
                    </ul>
                </div>
            </div>

            <div class="row gallery-container">

                <div class="col-lg-4 col-md-6 gallery-item filter-cakes">
                    <img src="assets/img/products/cakes/Cake_6.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cupcakes">
                    <img src="assets/img/products/cupcake/cupcake_3.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cakes">
                    <img src="assets/img/products/cakes/Cake_5.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-pastries">
                    <img src="assets/img/products/pastry/pastry_2.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cookies">
                    <img src="assets/img/products/cookie/cookie_8.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cookies">
                    <img src="assets/img/products/cookie/cookie_9.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cupcakes">
                    <img src="assets/img/products/cupcake/cupcake_7.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cupcakes">
                    <img src="assets/img/products/cupcake/cupcake_8.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-pastries">
                    <img src="assets/img/products/pastry/pastry_5.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-pastries">
                    <img src="assets/img/products/pastry/pastry_7.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cakes">
                    <img src="assets/img/products/cakes/Cake_7.png" class="img-fluid" alt="">

                </div>

                <div class="col-lg-4 col-md-6 gallery-item filter-cookies">
                    <img src="assets/img/products/cookie/cookie_4.png" class="img-fluid" alt="">

                </div>
            </div>

        </div>
    </section><!-- End gallery Section -->



    <!-- ======= reviews Section ======= -->
    <section id="reviews" class="reviews">
        <div class="container">

            <div class="section-title">
                <h2>Our Customers Reviews</h2>
                <p>Learn how customers around us choose Bakerz Bite to enjoy the best of the best baked goods.</p>
            </div>

            <div class="reviews-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="review-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                This bakery is a slice of heaven. All the pastries are beautiful and delicious, and the
                                menu is fantastic, too.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/reviews/reviews-1.jpg" class="review-img" alt="">
                            <h3>J.R.R. Tolkien</h3>
                            <h4>Writer</h4>
                        </div>
                    </div><!-- End review item -->

                    <div class="swiper-slide">
                        <div class="review-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                The absolute best place to get pastries and bread!! Delicious!! Closest to real french
                                pastries and cookies that I’ve had in
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/reviews/reviews-2.jpg" class="review-img" alt="">
                            <h3>Arthas Menethil</h3>
                            <h4>Knight</h4>
                        </div>
                    </div><!-- End review item -->

                    <div class="swiper-slide">
                        <div class="review-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Lots of great pastries. Nice people. Good coffee and a squeaky clean restroom 🙂
                                A place with self respect! I like it.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/reviews/reviews-3.jpg" class="review-img" alt="">
                            <h3>Tony Stark</h3>
                            <h4>Billionaire</h4>
                        </div>
                    </div><!-- End review item -->

                    <div class="swiper-slide">
                        <div class="review-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Such a gem! Not only are the staff and pastries / donuts incredible, you can’t beat the
                                prices and supporting local! Get here ASAP!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/reviews/reviews-4.png" class="review-img" alt="">
                            <h3>Harry Maguire</h3>
                            <h4>Footballer</h4>
                        </div>
                    </div><!-- End review item -->

                    <div class="swiper-slide">
                        <div class="review-item">
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Great neighborhood bakery. Excellent selection of donuts, pastries and cupcakes. If you
                                love sweet treats, you need to visit.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                            <img src="assets/img/reviews/reviews-5.jpg" class="review-img" alt="">
                            <h3>Clark Kent</h3>
                            <h4>Journalist</h4>
                        </div>
                    </div><!-- End review item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End reviews Section -->



    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Our Bakers</h2>
                <p> <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    You don't have to be a chef or even a particularly good cook to experience proper kitchen alchemy:
                    the moment when ingredients combine to form something more delectable than the sum of their parts.
                    Fancy ingredients or recipes not required; simple, made-up things are usually even better.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    - Erin Morgenstern.
                </p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-1.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4>Gordon Ramsey</h4>
                            <span>Head Chef</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-2.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4>Salt Bae</h4>
                            <span>Executive Chief</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-3.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4>Hannibal Lecter</h4>
                            <span>Chef</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member">
                        <div class="member-img">
                            <img src="assets/img/team/team-4.webp" class="img-fluid" alt="">

                        </div>
                        <div class="member-info">
                            <h4>Christine Hà </h4>
                            <span>Chef</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container">

            <div class="text-center">
                <h2>MID-AUTUMN SPECIAL OFFER</h2>
                <p> As we wish you a <a href="#!/products">Happy Mid-Autumn Celebration</a>, get 20% DISCOUNT accross
                    our Bakery this August </p>
                <p> Use coupon <a href="#!/products">MIDAUTUMN</a> upon checkout !</p>
                <a class="cta-btn" href="#!/products">Order NOW!</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= offer Section ======= -->
    <section id="offer" class="offer">
        <div class="container">

            <div class="section-title">
                <h2>Our Offers</h2>
                <p>We like to reward customers with our special offers and loyalty scheme. Take a look and see what
                    great food and beverages offers are currently available at Bakerz Bite.</p>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-4">
                    <div class="box">
                        <h3>Saturday & Sunday</h3>
                        <h4>Coffee Morning</h4>
                        <p>Between 7am – 9.30am every weekend, spend the morning relaxing with a tea or coffee and a
                            light breakfast. We’ll have a selection of pastries, muffins and sandwiches for you to
                            enjoy.</p>
                        <div class="btn-wrap">
                            <a href="#!/products" class="btn-buy">Order</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 mt-4 mt-md-0">
                    <div class="box featured">
                        <h3>All memberships</h3>
                        <h4>5% Discount</h4>
                        <p> Be our membership to day and get 5% DISCOUNT for all products and forever!</p>
                        <p> We're glad to have you today!</p>
                        <div class="btn-wrap">
                            <a href="#!/signup" class="btn-buy">Sign Up Now!</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 mt-4 mt-lg-0">
                    <div class="box">
                        <h3>Fridays of August</h3>
                        <h4>50% Discount </h4>
                        <p> Present this Coupon "Free Velvet Cupcake" and get your first Red Velvet Cupcake for half the
                            price</p>
                        <p> Offer valid on all Fridays of August</p>
                        <div class="btn-wrap">
                            <a href="#!/products" class="btn-buy">Order</a>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section><!-- End offer Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Frequently Asked Questions</h2>
                <p>How can we help you ?</p>
            </div>

            <div class="faq-list">
                <ul>
                    <li data-aos="fade-up">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse"
                            data-bs-target="#faq-list-1">What makes your products different? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                            <p>
                                Well, you might have read once or twice that we are a scratch bakery, and that fact
                                alone sets apart from most other bakeries. This improves the taste and quality of the
                                products we make. Our desserts are not made in factories like those you might purchase
                                from some grocery store bakeries. We never freeze our cakes, though that too is a common
                                practice. Also, we are known for a 100+ year old dense, moist pound cake recipe. Pound
                                cakes are expensive to make, but the unmatched taste is worth every penny.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-2" class="collapsed">Are you a full service bakery, or do you only
                            make cakes?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                We are a full-service bakery. We do not make breads, but we make most other bakery
                                products.
                                <a href="">Please see our menu here.</a>
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="200">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-3" class="collapsed">How do I place an order?
                            <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                You may place an order through our website; by calling us at 0523 917 089; or by
                                visiting our bakery. Photographs may be e-mailed to us at <i class='bx bxl-gmail'></i>
                                minhvudhkt14@gmail.com.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="300">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-4" class="collapsed">Can a cake order be changed after it has
                            already been placed? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Generally speaking cake orders are considered final once paid for and entered into our
                                system but we do allow changes with at least an 8 day notice. Please note the cost of
                                your cake may increase if you change the design, flavors, etc.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-5" class="collapsed">Am I limited to the cake designs on your
                            website? <i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                No! Those photographs are merely examples of work we've done in the past. Please feel
                                free to email over any inspirational designs you may find through other sites.
                            </p>
                        </div>
                    </li>

                    <li data-aos="fade-up" data-aos-delay="400">
                        <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse"
                            data-bs-target="#faq-list-5" class="collapsed">I've noticed many of your designs contain 3-D
                            elements such as bows and other items sitting on top of the cakes. What are those? <i
                                class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                            <p>
                                Those items are made from sugar-based products. We sculpt them all by hand, which is a
                                very time-consuming process. We rarely use store bought, non-edible decorations on our
                                desserts. These items generally require at least one-two weeks advance notice to create.
                            </p>
                        </div>
                    </li>

                </ul>
            </div>

        </div>
    </section><!-- End Frequently Asked Questions Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact Us</h2>
                <p>
                    We're here to help and answer any question you might have. We look forward to hearing from you.</p>
            </div>

            <div class="row">

                <div class="col-lg-6">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>54 Le Thanh Nghi street, Hai Ba Trung district, Ha Noi</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>minh.nv.2045@aptechlearning.edu.vn<br>minhvudhkt14@gmail.com</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p> 076 486 6789<br> 0523 917 089</p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6">
                    <form class="php-email-form" ng-submit="contactus(contact)">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" class="form-control" ng-model="contact.name" placeholder="Your Name">
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" placeholder="Your Email"
                                    ng-model="contact.email">
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" placeholder="Subject" ng-model="contact.subject">
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" rows="5" placeholder="Ask us everything..."
                                ng-model="contact.content"></textarea>
                        </div>
                        <div>
                            
                        </div>
                        <div class="text-center mt-3"><button type="submit" data-bs-toggle="modal"
                                data-bs-target="#ctus">Send Message</button></div>



                        <!-- Modal -->
                        <div class="modal fade" id="ctus" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Thank you for contacting us</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <b> We've received your message and will get back to you within a few time.
                                            In the meantime, make sure to follow us on Twitter!</b>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">OK, CLOSE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3><i class='bx bxs-cake'></i>Bakerz Bite</h3>
                    <p>
                        54 Le Thanh Nghi Street <br>
                        Hai Ba Trung district, Ha Noi<br>
                        Viet Nam <br><br>
                        <strong>Phone:</strong> 0523.917.089<br>
                        <strong>Email:</strong> minh.nv.2045@aptechlearning.edu.vn<br>
                    </p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Map</h4>
                    <ul>
                        <li><iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.729556123599!2d105.84769451485397!3d21.00347528601206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad58455db2ab%3A0x9b3550bc22fd8bb!2zNTQgUC4gTMOqIFRoYW5oIE5naOG7iywgQsOhY2ggS2hvYSwgSGFpIELDoCBUcsawbmcsIEjDoCBO4buZaSwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1660708139799!5m2!1sen!2s"
                                width="340" height="200" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe></li>

                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4> General</h4>
                    <ul>
                        <li><i class='bx bxs-time'></i>&nbsp; {{theTime}}</li>
                        <li><i class='bx bxs-user-plus'></i>&nbsp; Visitor Counts: {{vcounter}}</li>
                        <li><i class='bx bx-current-location'></i>&nbsp; Your Location: &nbsp;<div id="city"></div>
                            &nbsp; <div id="country"></div>
                        </li>
                        <li><i class='bx bx-signal-5'></i>&nbsp; Your IP : &nbsp;<div id="ip"></div>
                        </li>

                    </ul>
                </div>



            </div>
        </div>
    </div>

    <div class="container d-md-flex py-4">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
                &copy; Copyright <strong><span>Bakerz Bite</span></strong>. All Rights Reserved
            </div>
            <div class="credits">

                Designed by <a href="#">C2112L Group1 AptechVN</a>
            </div>
        </div>
        <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="youtube"><i class='bx bxl-youtube'></i></a>
            <a href="#" class="reddit"><i class='bx bxl-reddit'></i></a>
            <a href="#" class="tiktok"><i class='bx bxl-tiktok'></i></a>

        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>




<script src="assets/js/script.js"></script>