<link rel="stylesheet" href="assets/css/thankyou.css">

<div class="thankyou">
  <div class=thankyou-content>
    <div class="wrapper-1" style="height: 410px;">
      <div class="wrapper-2">
        <h1>Thank you !</h1>
        <p>Thanks for choosing our shop. </p>
        <p> You will be redirected to home page in {{time}} seconds.... </p>
        <a href="#">
          <button class="go-home" style="margin: 30px auto;">
            Click here if you're not redirected automatically
          </button>
        </a>
      </div>
      <div class="footer-like">
        <p>
          <a href="#!/products"><i class="bi bi-cart3"></i> Go to Shopping</a>
        </p>
      </div>
    </div>
  </div>
</div>



